name: Update PyPI Module
on:
  workflow_dispatch:
  push:
    branches:
      - main
jobs:
  build:
    name: PyPI Update
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v2

      - name: Copy README.md
        uses: canastro/copy-file-action@master
        with:
          source: "README.md"
          target: "pyautodep/README.md"

      - name: Copy LICENSE
        uses: canastro/copy-file-action@master
        with:
          source: "LICENSE"
          target: "pyautodep/license.txt"
